* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
}

.father {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

    .menu {
        background: #454545;
        display: flex;
        /* flex-flow: row nowrap; */
        /* align-items: center; */
    }

        .index {
            background: #ea5455;
            flex: 1 1 auto;
        }

        .options {
            background: #ea5455;
            flex: 5 1 auto;
        }

        .contact {
            background: #ea5455;
            flex: 1 1 auto;
        }

.main-text {
    /*  flex: 1 1 auto; */
    background: #F07b3f;
    display: flex;
}

    .first-h1 {
        background: #FFd460;
        width: 100%;
    }

.section {
    background: #000;
    display: flex;
}

    .products {
        background: #4e4e6a;
        display: flex;
        flex-flow: /* row */ wrap;
        flex: 2 1 auto;
    }

        .product {
            background: #1f6cb0;
            flex: 1 1 42%;
        }

        .navegation {
            background: #70a3c4;
            flex: 1 1 100%;
        }

    .aside {
        background: #f73f52;
        flex: 1 1 auto;
    }

        .adver {
            background: #FFea85;
        }

.footer {
    background: #000;
    display: flex;
    /* justify-content: center; */
}

    .foot {
        background: #e6af2e;
        width: 100%;
    }
 
@media all and (max-width: 768px) {
    .section {
        flex-direction: column;
        background: yellow;
    }
}

@media all and (max-width: 425px) {
    .menu {
        flex-direction: column;
    }

    .index,
    .options,
    .contact {
        background: #ea5455;
        width: 80%;
    }

    .section {
        flex-direction: column;
        background: #E7B10A;
    }

    .products {
        background: #0F4C75;
    }

    .product {
        background: #0C7B93;
    }

    .aside {
        background: #F07b3f;
    }
}